CST/ServiceAgents/Service References/Proxies.AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd4" namespace="DistributedServices.Core" />
      <xsd:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" />
      <xsd:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_AuthenticatedUserByUserNamePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedUserByUserNamePassword" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedUserByUserNamePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedUserByUserNamePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedUserByUserNamePassword_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="DistributedServices.Core" name="detail" element="q1:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedUser_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="DistributedServices.Core" name="detail" element="q2:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedByUserId" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatedByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticatedByUserId_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="DistributedServices.Core" name="detail" element="q3:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ValidarAutorizacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAutorizacion" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ValidarAutorizacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAutorizacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ValidarAutorizacion_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="DistributedServices.Core" name="detail" element="q4:ServiceError" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetIdUserFromTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUserFromTicket" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetIdUserFromTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUserFromTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetIdUserFromTicket_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="DistributedServices.Core" name="detail" element="q5:ServiceError" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="AuthenticatedUserByUserNamePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUserByUserNamePassword" message="tns:IAuthenticationService_AuthenticatedUserByUserNamePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUserByUserNamePasswordResponse" message="tns:IAuthenticationService_AuthenticatedUserByUserNamePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUserByUserNamePasswordApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IAuthenticationService_AuthenticatedUserByUserNamePassword_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUser" message="tns:IAuthenticationService_AuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUserResponse" message="tns:IAuthenticationService_AuthenticatedUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedUserApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IAuthenticationService_AuthenticatedUser_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticatedByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedByUserId" message="tns:IAuthenticationService_AuthenticatedByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedByUserIdResponse" message="tns:IAuthenticationService_AuthenticatedByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticatedByUserIdApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IAuthenticationService_AuthenticatedByUserId_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAutorizacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/ValidarAutorizacion" message="tns:IAuthenticationService_ValidarAutorizacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/ValidarAutorizacionResponse" message="tns:IAuthenticationService_ValidarAutorizacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthenticationService/ValidarAutorizacionApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IAuthenticationService_ValidarAutorizacion_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdUserFromTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetIdUserFromTicket" message="tns:IAuthenticationService_GetIdUserFromTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetIdUserFromTicketResponse" message="tns:IAuthenticationService_GetIdUserFromTicket_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthenticationService/GetIdUserFromTicketApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IAuthenticationService_GetIdUserFromTicket_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticatedUserByUserNamePassword">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/AuthenticatedUserByUserNamePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticatedUser">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/AuthenticatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticatedByUserId">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/AuthenticatedByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidarAutorizacion">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/ValidarAutorizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIdUserFromTicket">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/GetIdUserFromTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost:1936/AuthenticationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>