trunk/CST/ServiceAgents/Service References/Proxies.AuthenticationService/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" />
  <xs:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SolutionFrameworkUser">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" minOccurs="0" name="ChangeTracker" nillable="true" type="q1:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="CompleteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolutionFrameworkRole" nillable="true" type="tns:ArrayOfSolutionFrameworkRole" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inserttimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isactive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastlogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timezone" type="xs:int" />
      <xs:element minOccurs="0" name="updatetimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SolutionFrameworkUser" nillable="true" type="tns:SolutionFrameworkUser" />
  <xs:complexType name="ArrayOfSolutionFrameworkRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolutionFrameworkRole" nillable="true" type="tns:SolutionFrameworkRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolutionFrameworkRole" nillable="true" type="tns:ArrayOfSolutionFrameworkRole" />
  <xs:complexType name="SolutionFrameworkRole">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" minOccurs="0" name="ChangeTracker" nillable="true" type="q2:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="SolutionFrameworkNode" nillable="true" type="tns:ArrayOfSolutionFrameworkNode" />
      <xs:element minOccurs="0" name="SolutionFrameworkRight" nillable="true" type="tns:ArrayOfSolutionFrameworkRight" />
      <xs:element minOccurs="0" name="SolutionFrameworkUser" nillable="true" type="tns:ArrayOfSolutionFrameworkUser" />
      <xs:element minOccurs="0" name="inserttimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isglobal" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roleid" type="xs:int" />
      <xs:element minOccurs="0" name="updatetimestamp" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SolutionFrameworkRole" nillable="true" type="tns:SolutionFrameworkRole" />
  <xs:complexType name="ArrayOfSolutionFrameworkNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolutionFrameworkNode" nillable="true" type="tns:SolutionFrameworkNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolutionFrameworkNode" nillable="true" type="tns:ArrayOfSolutionFrameworkNode" />
  <xs:complexType name="SolutionFrameworkNode">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" minOccurs="0" name="ChangeTracker" nillable="true" type="q3:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="SolutionFrameWorkNodeAplication" nillable="true" type="tns:SolutionFrameWorkNodeAplication" />
      <xs:element minOccurs="0" name="SolutionFrameworkRole" nillable="true" type="tns:ArrayOfSolutionFrameworkRole" />
      <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inserttimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="linkurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nodeAplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="nodeid" type="xs:int" />
      <xs:element minOccurs="0" name="parentnodeid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="position" type="xs:int" />
      <xs:element minOccurs="0" name="shortdescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="showinnavigation" type="xs:boolean" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatetimestamp" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SolutionFrameworkNode" nillable="true" type="tns:SolutionFrameworkNode" />
  <xs:complexType name="SolutionFrameWorkNodeAplication">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" minOccurs="0" name="ChangeTracker" nillable="true" type="q4:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="SolutionFrameworkNode" nillable="true" type="tns:ArrayOfSolutionFrameworkNode" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nodeAplicationId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SolutionFrameWorkNodeAplication" nillable="true" type="tns:SolutionFrameWorkNodeAplication" />
  <xs:complexType name="SolutionFrameworkRight">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.Core.Entities" minOccurs="0" name="ChangeTracker" nillable="true" type="q5:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="SolutionFrameworkRole" nillable="true" type="tns:ArrayOfSolutionFrameworkRole" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inserttimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rightid" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SolutionFrameworkRight" nillable="true" type="tns:SolutionFrameworkRight" />
  <xs:complexType name="ArrayOfSolutionFrameworkRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolutionFrameworkRight" nillable="true" type="tns:SolutionFrameworkRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolutionFrameworkRight" nillable="true" type="tns:ArrayOfSolutionFrameworkRight" />
  <xs:complexType name="ArrayOfSolutionFrameworkUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolutionFrameworkUser" nillable="true" type="tns:SolutionFrameworkUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolutionFrameworkUser" nillable="true" type="tns:ArrayOfSolutionFrameworkUser" />
</xs:schema>