trunk/CST/ServiceAgents/Service References/Proxies.AuthenticationService/AuthenticationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1936/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" />
  <xs:element name="AuthenticatedUserByUserNamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="persistLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedUserByUserNamePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" minOccurs="0" name="AuthenticatedUserByUserNamePasswordResult" nillable="true" type="q1:SolutionFrameworkUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="persistLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" minOccurs="0" name="AuthenticatedUserResult" nillable="true" type="q2:SolutionFrameworkUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="persistLogin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticatedByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.MainModules.Entities" minOccurs="0" name="AuthenticatedByUserIdResult" nillable="true" type="q3:SolutionFrameworkUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAutorizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAutorizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarAutorizacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdUserFromTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdUserFromTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdUserFromTicketResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>